*{
    box-sizing: border-box;
}
.flex-container{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
     height: 100vh; 
    align-items: flex-start;
}
.item{
    background: orange;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    /* flex: 1; */
}
/* .item-2{
    flex-grow: 2;
}*/
.item-1{
    flex-shrink: 2;
    align-self: center;
} 
.item-3{
    align-self: flex-end;
}