.grid-container{
    display: grid;
    /* grid-template-rows: 100px 100px 100px 100px; */
    /* grid-template-columns: auto auto; */
    /* grid-template-rows: repeat(3,auto);  */
    /* grid-template-columns: repeat(4,auto); */
    /* 1fr=1/5 ส่วน*/
    /* grid-template-columns:1fr 3fr 1fr ; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;

}
.item{
    padding: 3rem;
    border: 1px solid #ccc;
    background: orange;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}
/* .item:first-child{
    background-color: green;
     grid-column-start:1 ; 
    grid-column-end:4 ; 
     grid-column: 1/4;

     grid-row-start:1 ; 
    grid-row-end: 3; 
} 
 .item:last-child{
    background: pink;
     grid-column-start: 2; 
     grid-column-end: 4; 
}  */
/*.item:first-child{
     กินพื้นที่ไป2แถว 
    grid-row: 1/span 2;

    grid-column: 2/span 3;
}*/
