.c1 {
  background-color: aqua;
}
div.c2 {
  background-color: green;
}
* {
  background-color: white;
}
div.c1#box1 {
  background-color: yellow;
}
input[type="text"] {
  background-color: red;
}
.c2:hover {
  background-color: rosybrown;
}
.c2::first-letter {
  font-size: 32px;
}
.c1,
.c2 {
  background-color: rgb(161, 84, 84);
}
.grandpa > div {
  background-color: sandybrown;
}
.c22 {
  font-size: 2px;
}
div {
  background-color: blue;
}
